# Copyright © 2026 Vacyyyy and contributors (see git history)
# SPDX-License-Identifier: AGPL-3.0-or-later
# tracey
.tracey/

# devenv
.devenv*
devenv.local.nix
devenv.local.yaml
.devenv/

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
